# Python
__pycache__/
*.pyc

# Generated code
generated/

# Build files
obj-debug/

# IDE
.vscode/

# Hidden files/folders
.*

# Allow important git files
!.gitignore

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.env/
room/

# -----------------------------
# Django
# -----------------------------
db.sqlite3